a{
    text-decoration-line: none;
}
.jogos-principais{
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;

}
.title{
    display: grid;
    grid-template-columns: 19% 25% 9% 25% 19%;
    justify-content: space-between;
    margin: 0px 0px;
    background-color: #ccc;
    color: rgb(131, 126, 126);
    font-size: 10px;

}
.league-title{
    cursor:pointer;
}
.title-home :first-child{
    padding-right: 22px;
}
.title-away :first-child{
    padding-right: 22px;
}
.title :last-child{
    text-align: center;
}
.title-home{
    display: flex;
    justify-content: flex-end;
}
.title-away{
    display: flex;  
    justify-content: flex-start;
}
.dados-grid{
    width: 90%;
    padding: 10px; 
    margin: auto;
}
.tipo-liga{
display: flex;
align-items: center;
font-size: 10px;
}
.futures-dates{
    display: grid;
    grid-template-columns: repeat(7,13%);
    justify-content: center;
    margin: 10px 0px;
}
.futures-dates div{
    padding: 5px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    font-size: 13px;   
    font-weight: bold;
    color:#086788;
}
.futures-dates div:hover{
text-decoration: underline;
}
.futures-dates :last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.futures-dates :first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.jogos{
 
}
@media screen and (max-width: 1000px) {
    
    .menu{
        display: none;    
    }
    .jogos-principais{
        grid-template-columns: 90%;
        margin: auto  0px 10px 0px;
    }
    
}
ul{
  /*  list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0px*/
    padding: 0px;
}
.partidas{
    display: grid;
    grid-template-columns: 40% 20% 40%;
    justify-content: space-between;
}
.placar{
    text-align: center;
}
.time{
    display: grid; 
    justify-content: space-between;
    cursor: pointer;
}
.home{
    grid-template-columns:  70% 25%;
    text-align: end;
}
.away{
    grid-template-columns: 25% 70%;
    text-align: start;
}
.listadeJogos{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0px 0px;
    font-size: 12px;
    padding: 5px;
}
.estastisticas{
    text-decoration: end;    
}
.estastisticas{
    display: grid;
    justify-content: end;
    grid-template-columns: 30% 30% 30%;
}
span{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .title > li{
      display: inline-block;
  }
.time-away, .time-home{
    box-sizing: content-box;
    padding: 3px;
    background: red;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.default-painel{
    border: 1px solid #ccc;
    border-radius: 4px;
}
.title-country,.title-league{
    margin: 0px;
    font-family: sans-serif;
}
.title-league{
  font-size: 14px;
}
.title-country{
    font-size: 12px;
}
.lista-datas{
    background-color: #ccc;
    border: 1px solid rgb(161, 159, 159);
}