.sub--menu{
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.list{
    display: grid;
    grid-template-columns: repeat(6,15vh);
    height: 8vh;
    align-items: center;
    width: 80%;
    margin: auto;
}
button {
    border: none;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #988d8d;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
}